
/* Set color variables */
:root{
  --nav-profile-text: white;
  --nav-profile-fam1: arial;
  --nav-profile-fam2: helvetica;
  --nav-profile-fontsize: 48px;
  --nav-menu-bg: white;
  --nav-menu-text: rgb(11, 12, 56);
  --nav-menu-border: lightgrey;
  --nav-menu-shadow: rgb(11, 12, 56);
  --nav-shadow-active: black;
  --body: white;
  --main-h2-fontfam1: arial;
  --main-h2-fontfam2: helvetica;
  --main-h2-fontsize: 32px;
  --main-h2-fontcolor: rgb(11, 12, 56);
  --main-h3-fontfam1: arial;
  --main-h3-fontfam2: helvetica;
  --main-h3-fontsize: 32px;
  --main-h3-fontcolor: rgb(11, 12, 56);
  --main-p-fontsize: 20px;
  --main-p-fontcolor: rgb(11, 12, 56);
  --main-seperate-border: rgb(69, 148, 221); /* rgb(1,146,229);*/
  --card-color-text: lightblue;
  --card-text-bg: rgb(69, 148, 221);
  --card-border: rgb(11, 12, 56);
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color:rgb(196, 233, 238);
}

/* create menu layout to including image and name on the left */
header {
  position: static;
  height: 200px;
  width: auto;
  margin: -8px -8px 0px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  background-image: url("./images/background-header.jpg");
  background-size: cover;
}

header h1 {
  padding-left: 20px;
  color: var(--nav-profile-text);
  font-family: var(--nav-profile-fam1), var(--nav-profile-fam2);
  font-size: var(--nav-profile-fontsize);
  margin-bottom: -1px;
}


header ul li {
  display: inline-flex;
  list-style: none;
  border: 1px solid var(--nav-menu-border);
  border-radius: 20px;
  box-shadow: 3px 3px 0px 0px var(--nav-menu-shadow);
  background-color: var(--nav-menu-bg);
  margin-right: 15px;
  padding: 5px;
}

a:link, a:visited {
  text-decoration: none;
  color: var(--nav-menu-text);
  font-size: 20px;
}

header ul li:active {
  box-shadow: 1px 1px 0px 0px var(--nav-shadow-active);
}
/* Align the profile pic with profile name text */
.profile {
  display: flex;
  align-items: flex-end;
}
/* 
Main Content - about me, projects, contact me 
sections divided by blue border 
*/
main {
  width: 100%;
  display: flex;
}

main section {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin:30px 12% 0px;
}

main section h2 {
  font-family: var(--main-h2-fontfam1) , var(--main-h2-fontfam2);
  font-size: var(--main-h2-fontsize);
  color: var(--main-h2-fontcolor);
}

main section p, main section ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
  font-size: var(--main-p-fontsize);
  color: var(--main-p-fontcolor);
}

/*
Project Cards, first one is larger and img's are background images
css for images after this section
*/
.cardcontainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0px;
  width: 100%;
}

.projectcard {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  margin-top: 20px;
  margin-left: 0px;
  margin-right: 0px;
  height: 200px;
  width: 46%;
  background-size: cover;
  border:1px solid var(--card-border);
  opacity: 1; 
  transition: opacity 0.1s ease-in-out;
  position: relative;
}

.projectcard::before {
  /* Create a pseudo-element as a background overlay */
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7); /* Background color with opacity */
  opacity: 0; /* Initial opacity */
  transition: opacity 0.3s ease-in-out;
}

.projectcard:hover::before {
  /* Change the opacity of the pseudo-element on hover */
  opacity: 1;
}

.cardText{
  margin-left: 20px;
  margin-bottom: 20px;
  z-index: 1;
  position: relative;
}

.cardText p, .cardText a:link, .cardText a:visited {
  margin-left: 0px;
  padding-left: 0px;
  color: var(--card-color-text);
  z-index: 1;
  text-align: left;
}

/* Set background image information for project cards and links */
.img-donatetrader{
  background-image: url('./images/donatetrader.png'); 
}

.img-invManagement{
  background-image: url('./images/invmanagement.png'); 
}

.img-camera{
  background-image: url('./images/cameraflip.jpg'); 
}

.img-glow{
  background-image: url('./images/glowsmall.jpg'); 
}

.img-blog{
  background-image: url('./images/blog.png'); 
}

.img-planner{
  background-image: url('./images/planner.png'); 
}

.contactForm input{
  width:40%;
}

.contactForm textarea{
  width:40%;
  height: 100px;
}

.resumeHeader{
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  margin:0px;
  padding:0px;
  margin-left: 12%;
}

.resumeHeader h2{
  margin-bottom: 0px;
  width: auto;
}

.resumeHeader a{
  font-size: 14px;
  margin-left: 3%;
  margin-bottom: 5px;
}

.resumeContainer{
  margin: 0px;
  display: flex;
  flex-direction: row;
  width: 100%;
}

.resumePart{
  margin: 0px;
  display: flex;
  flex-direction: column;
  width: 32%;
  padding-right: 1%;
}

.resumePart h3{
  color: var(--main-h3-fontcolor);
  text-align: center;
}

.resumePart ul{
  display: flex;
  flex-direction: column;
  margin: 0px;
  padding: 0px;
  text-align: center;
}

.resumePart li{
  padding-bottom: 10px;
}

footer{
  margin: 0px 12%;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  padding-top: 40px;
  padding-bottom: 40px;
}

footer a:link{
  text-decoration: underline;
  font-size: 16px;
}

@media only screen and (max-width: 827px){
  header h1 {
    padding-left: 10px;
    color: var(--nav-profile-text);
    font-family: var(--nav-profile-fam1), var(--nav-profile-fam2);
    font-size: 30px;
    margin-bottom: -1px;
  }

  a:link, a:visited {
      text-decoration: none;
      color: var(--nav-menu-text);
      font-size: 24px;
  }

  header nav{
    width: 29%;
  }
  
  header ul {
      width: 95%;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      align-items: flex-end;
      margin: 0px 10% 0px 0px;
      padding: 0px;
  }

  nav ul li {
    margin: 5px 10px 5px 0px;
    width: 95%;
    text-align: center;
    padding: 0px 0px 0px 10px;
    font-size: 14px;
  }

  nav a:link, nav a:visited{
    padding: 0px;
    font-size: 18px;
    width:95%;
    margin: 0px;
  }

  .resumeHeader{
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    margin:0px;
    padding:0px;
    margin-left: 12%;
  }
  
  .resumeHeader h2{
    margin-bottom: 0px;
    width: auto;
  }
  
  .resumeHeader a{
    font-size: 12px;
    margin-left: 3%;
    margin-bottom: 5px;
  }
  
  .resumeContainer{
    margin: 0px;
    display: flex;
    flex-direction: row;
    width: 100%;
  }
  
  .resumePart{
    margin: 0px;
    display: flex;
    flex-direction: column;
    width: 32%;
    padding-right: 1%;
    padding-left: 1%;
  }
  
  .resumePart h3{
    color: var(--main-h3-fontcolor);
    text-align: left;
    font-size: 12px;
  }
  
  .resumePart ul{
    display: flex;
    flex-direction: column;
    margin: 0px;
    padding: 0px;
    text-align: center;
  }
  
  .resumePart li{
    padding-bottom: 10px;
    font-size: 10px;
    text-align: left;
  }
  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
